*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  //   padding-top: 50px;
}

.container {
  max-width: 500px;
  padding: 0 15px;
  margin: 0 auto;
  min-height: 100vh;
  //   background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .container {
    max-width: 770px;
  }
}

.grocery {
  flex: 0 0 100%;
  box-shadow: 0 5px 30px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  min-height: 50vh;
  padding-top: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;

  &__heading {
    color: #19486d;
    text-align: center;
    font-size: 4.8rem;
    line-height: 6.4rem;
    letter-spacing: 1rem;
    font-weight: 700;
    padding-bottom: 3rem;
  }

  &__form {
    &-group {
      display: flex;
    }
  }

  &__input {
    display: block;
    width: calc(100% - 150px);
    font-family: inherit;
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: #9eacb7;
    background: #f0f2f8;
    outline: none;
    border: 1px solid #9eacb7;
    transition: all 0.3s;
    padding: 10px 20px;
    height: 45px;
    border-radius: 3px;

    &:focus {
      border: 1px solid #265292;
    }
  }

  &__btn {
    display: block;
    width: 150px;
    height: 45px;
    border-radius: 3px;
    font-family: inherit;
    font-size: 1.5rem;
    line-height: 2.1rem;
    outline: none;
    padding: 10px 20px;
    border: 1px solid #9eacb7;
    cursor: pointer;
    background: #a6d5f8;
    transition: all 0.3s;
    color: #00233c;
    font-weight: 500;

    &:hover {
      border: 1px solid #265292;
    }
    &:focus {
      border: 1px solid #265292;
    }
  }

  &__list {
    margin-top: 50px;
    list-style-type: none;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 180px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__item {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    height: 45px;

    button {
      width: 16px;

      height: 16px;
      background: transparent;
      outline: none;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      pointer-events: all;

      svg {
        pointer-events: none;
      }
    }
  }
  &__details {
    color: #363a3d;
    font-size: 1.5rem;
    font-weight: 500;
  }
  &__actions {
    display: flex;
    align-self: center;
  }

  .edit__btn {
    margin-right: 10px;
    color: #8ad48f;
    // width: 50px;
  }
  .delete__btn {
    color: #cb6665;
  }
}

.clear-all {
  &__btn {
    padding-top: 30px;
    border: none;
    outline: none;
    background: transparent;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: inherit;
    color: #d1b7ae;
    letter-spacing: 1rem;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  transition: all 0.3s;
  &.hidden {
    display: none;
  }
}

.modal {
  position: absolute;
  width: 500px;
  left: 50%;
  top: 45%;
  height: 300px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 1);
  z-index: 2;
  transition: all 0.3s;
  border-radius: 10px;
  box-shadow: 0 5px 30px 4px rgba(0, 0, 0, 0.2);
  &.hidden {
    display: none;
    transform: translate(-50%, -10%);
  }
  &__form {
    padding: 30px 40px;

    &-group {
      margin-top: 30px;
    }
  }

  &__input {
    display: block;
    width: 100%;
    height: 35px;
    outline: none;
    padding: 10px 20px;
    font-family: inherit;
    font-size: 1.5rem;
    color: #9eacb7;
    background: #f0f2f8;
    border: 1px solid #9eacb7;

    border-radius: 3px;
  }

  &__btn {
    margin: 0 auto;
    display: block;
    width: 150px;
    height: 45px;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    font-family: inherit;
    border: none;
    outline: none;
    color: #00233c;
    font-weight: 500;
    font-size: 1.5rem;
    background: #a6d5f8;
  }

  &__header {
    text-align: center;
    color: #00233c;
  }
}
